.recipe--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    margin: 0 auto;
}

.recipe--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.recipe--title {
    font-size: 16px;
    color: #2B0504;
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
    background-color: #ffffff9a;
}

.recipe--link {
    text-decoration: none;
}

.recipe--title:hover {
    background-color: #000000b2;
    color: #D17A22;
}