.load--more--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.load--more--button {
    background-color: #2B0504;
    color: #CCDBDC;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.load--more--button:hover {
    background-color: #D17A22;
    color: #2B0504;
}