.recipeDetails--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToList--button {
    background-color: rgba(43, 5, 4, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}

.backToList--button:hover {
    background-color: #D17A22;
    color: #2B0504;
}

.recipeDetails--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2B0504;
    background-color: rgba(220, 204, 204, 0.142);
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.recipeDetails--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.recipeDetails--image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.244);
    margin-bottom: 20px;
}

.recipeDetails--title {
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.244);
    line-height: 1.2;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
}

.recipeDetails--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #2B0504;
    width: 100%;
}

.recipeDetails--right h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.recipeDetails--right ul {
    padding-left: 20px;
    width: 100%;
}

.recipeDetails--right li {
    margin-bottom: 10px;
    font-size: 1em;
}

.recipeDetails--right p {
    font-size: 1em;
    margin-top: 10px;
}

@media (min-width: 412px) {
    .recipeDetails--container {
        margin-top: 60px;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .recipeDetails--wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .recipeDetails--left,
    .recipeDetails--right {
        width: 48%;
    }

    .recipeDetails--title {
        font-size: 2.5em;
    }

    .recipeDetails--right h2 {
        font-size: 1.75em;
    }

    .recipeDetails--right li,
    .recipeDetails--right p {
        font-size: 1.2em;
    }
}

@media (min-width: 992px) and (max-width : 1200px) {
    .recipeDetails--title {
        font-size: 3em;
    }

    .recipeDetails--right h2 {
        font-size: 2em;
    }

    .recipeDetails--right li,
    .recipeDetails--right p {
        font-size: 1.3em;
    }
}