.search--bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.search--input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 700px;
    height: 30px;
    background-color: #CCDBDC;
    outline: none;
    font-size: 20px;
}

.search--input::placeholder {
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.search--button {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #2B0504;
    color: #CCDBDC;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
}

.search--button:hover {
    background-color: #D17A22;
    color: #2B0504;
}