.about--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 204, 204, 0.142);
    margin-top: 150px;
    color: #2B0504;
    padding: 10px;
}

.about--title {
    font-size: 45px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.244);
    line-height: 0.9;
    letter-spacing: 2.5px;
    margin-bottom: 0;
    border-radius: 3px;
    padding: 5px;
    background-color: #ffffff5b;
    padding: 0;
}

.about--title--section {
    font-size: 45px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.244);
    line-height: 0.9;
    letter-spacing: 2.5px;
    margin-bottom: 0;
}

.about--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}