.recipe--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    border: #2B0504 3px solid;
    border-radius: 10px;
}

.recipe--image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    object-fit: cover;
}

.recipe--title {
    font-size: 15px;
    color: #2B0504;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.244);
    line-height: 0.9;
    margin-bottom: 0;
}