* {
    box-sizing: content-box;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B5D1E;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    max-width: 100%;
}

body::-webkit-scrollbar {
    display: none;
    /* Nasconde la barra in Chrome, Safari e Opera */
}

@media screen and (max-width: 710px) {
    .main--content {
        flex-direction: row;
    }

    .main--text {
        width: 50%;
    }

    .main--title {
        font-size: 30px;
    }

    .main--image {
        width: 50%;
    }

    .recipe--list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Modifica del CSS per schermi ancora più piccoli */
@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: auto;
        max-width: 100%;
    }

    .navbar--logo {
        align-items: center;
    }

    .navbar--menu {
        flex-direction: row;
    }

    .main--content {
        flex-direction: column;
        flex-direction: column-reverse;
        margin-top: 90px;
    }

    .main--title {
        width: 100%;
        font-size: 25px;
    }

    .main--image {
        width: 80%;
    }

    .recipe--list {
        grid-template-columns: repeat(1, 1fr);
    }

    .about--wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}