* {
    box-sizing: content-box;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    background-color: #0B5D1E;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    max-width: 100%;
}

body::-webkit-scrollbar {
    display: none;
    /* Nasconde la barra in Chrome, Safari e Opera */
}

@media (min-width: 992px) and (max-width : 1200px) {
    .recipeDetails--title {
        font-size: 3em;
    }

    .recipeDetails--right h2 {
        font-size: 2em;
    }

    .recipeDetails--right li,
    .recipeDetails--right p {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 710px) {
    .main--content {
        flex-direction: row;
    }

    .main--text {
        width: 50%;
    }

    .main--title {
        font-size: 30px;
    }

    .main--image {
        width: 50%;
    }

    .recipe--list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Modifica del CSS per schermi ancora più piccoli */
@media screen and (max-width: 430px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 60px;
        width: 100%;
        justify-content: center;
    }

    .navbar--logo {
        align-items: center;
    }

    .logo--image {
        max-width: 40px;
        padding: 0;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    .logo--title {
        font-size: 18px;
    }

    .navbar--menu--item {
        font-size: 12px;
    }

    .main--content {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
    }

    .main--title {
        font-size: 30px;
    }

    .main--description {
        font-size: 20px;
    }

    .main--image {
        width: 80%;
    }

    .recipe--list {
        grid-template-columns: repeat(1, 1fr);
    }

    .about--wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact--container {
        width: 95%;
        top: 10%;
    }

    .footer {
        font-size: 12px;
        height: 40px;
    }
}

@media screen and (max-width: 412px) {
    body {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 60px;
        width: 100%;
        justify-content: center;
    }

    .navbar--logo {
        align-items: center;
    }

    .logo--image {
        max-width: 40px;
        padding: 0;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    .logo--title {
        font-size: 18px;
    }

    .navbar--menu--item {
        font-size: 12px;
    }

    .main--content {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
    }

    .main--title {
        font-size: 30px;
    }

    .main--description {
        font-size: 20px;
    }

    .main--image {
        width: 80%;
    }

    .recipe--list {
        grid-template-columns: repeat(1, 1fr);
    }

    .about--wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact--container {
        width: 95%;
        top: 10%;
    }

    .recipeDetails--container {
        margin-top: 60px;
        padding: 20px;
    }

    .footer {
        font-size: 10px;
        height: 40px;
    }
}