.main--content {
    display: flex;
    flex-direction: row;
    background-color: rgba(220, 204, 204, 0.142);
    margin-top: 80px;
    width: 100%;
}

.main--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2B0504;
}

.main--title {
    font-size: 80px;
    padding: 12px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.244);
    line-height: 0.9;
    letter-spacing: 2.5px;
    margin-bottom: 0;
}

.main--description {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.main--image {
    max-width: 800px;
    max-height: 600px;
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
}